<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<style>
    form input {
        color: grey;
    }
</style>

<body>
    <div class="main">
        <nav>
            <div class="part-1">
                <img src="/images/Foodosnx logo.png" alt="">
            </div>
            <div class="part-2">
                <ul>
                    <li><a id="home-btn" href="/adminDashboard">Home</a></li>
                    <li><a href="/adminDashboard">About</a></li>
                    <li><a href="/adminDashboard">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <h4><i style="color: white;" class="ri-menu-line"></i></h4>
                </ul>
            </div>
        </nav>

        <div id="slidebar">
            <a href="/adminDashboard">About</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/adminDashboard">Contact</a>
            <a href="/adminDashboard">Gallery</a>
        </div>
        <div class="login-page">
            <div class="login" style="height: fit-content;">
                <h1>Create New Product </h1>
                <form action="/addProducts" method="POST" enctype="multipart/form-data">
                    <input type="text" name="productName" placeholder="Add Product Name">
                    <input type="text" name="productPrice" placeholder="Add Product Price ">
                    <input type="file" name="productImage">
                    <div class="buttons">
                        <button id="cancel-btn">Cancel</button>
                        <button type="submit" style="background-color: green;">Update</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <script src="/javascripts/navbar.js"></script>
    <script>
        const cancelBtn = document.getElementById('cancel-btn');
        cancelBtn.addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = '/adminDashboard';
        });
    </script>
</body>

</html>