<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodosnx</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="main">
    <div class="page-1">
      <nav>
        <div class="part-1">
          <img src="/images/Foodosnx logo.png" alt="">
        </div>
        <div class="part-2">
          <ul>
            <li><a id="home-btn" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <h4><i style="color: white;" class="ri-menu-line"></i></h4>
          </ul>
        </div>
        <!-- <div class="part-3">
          <ul>
            <li><i class="ri-account-circle-line"></i><a href="/profile">Profile</a></li>
            <li><i class="ri-heart-line"></i><a href="/wishlist">Wishlist</a></li>
            <li><i class="ri-shopping-bag-line"></i><a href="/bag">Bag</a></li>
          </ul>
        </div> -->
      </nav>

      <div id="slidebar">
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/contact">Contact</a>
        <a href="/gallery">Gallery</a>
      </div>

      <div class="hero">
        <div class="part-1">
          <h1>A Snack For Any Craving!</h1>
          <p>We believe that human longevity comes from a healthy lifestyle and healthy eating habits.</p>
          <button>Order Now</button>
        </div>
        <div class="part-2">
          <img src="/images/masala munch.jpeg" alt="">
        </div>
        <div class="part-3">
          <div class="up">
            <span><i class="ri-heart-pulse-line"></i>
              <h5>Health</h5>
            </span>
            <span><img src="/images/icons8-spicy-50.png" alt="">
              <h5>Spicy</h5>
            </span>
          </div>
          <div class="down">
            <span><img src="/images/icons8-wave-30.png" alt="">
              <h5>wavy</h5>
            </span>
            <span><i class="ri-drinks-line"></i>
              <h5>sorch</h5>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="page-2">
      <h1>Our Products</h1>

      <div class="product-rows">
        <div class="row-1 row">
          <div class="product">
            <div class="left">
              <img src="/images/masala munch.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>

          <div class="product">
            <div class="left">
              <img src="/images/banana chips.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>

          <div class="product">
            <div class="left">
              <img src="/images/potato chips.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>
        </div>
        <div class="row-2 row">
          <div class="product">
            <div class="left">
              <img src="/images/masala munch.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>

          <div class="product">
            <div class="left">
              <img src="/images/banana chips.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>

          <div class="product">
            <div class="left">
              <img src="/images/potato chips.jpeg" alt="">
            </div>
            <div class="right">
              <h3>Product 1</h3>
              <p>Price: $5</p>
              <p>⭐⭐⭐⭐<i class="ri-star-line"></i></p>
              <button>Order Now</button>
            </div>
            <div class="shopping-cart">
              <i class="ri-shopping-cart-2-line"></i>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="page-3">
      <div class="left">
        <h1>Made From High Quality Ingredients</h1>
        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
        </p>
        <ul>
          <li>100% Fresh Taro</li>
          <li>Garlic</li>
          <li>Cow Milk</li>
          <li>Low Fat Sugar</li>
        </ul>
      </div>
      <div class="right">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/full banana chips.jpeg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/full masala munch.jpeg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/full potato chips.jpeg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/banana chips.jpeg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/potato chips.jpeg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/masala munch.jpeg" alt="">
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="page-4">
      <h1>They have already tasted it, when will you?</h1>
      <div class="review-section">

        <div class="review">
          <div class="top">
            <img src="https://t4.ftcdn.net/jpg/03/78/43/25/360_F_378432516_6IlKiCLDAqSCGcfc6o8VqWhND51XqfFm.jpg" alt="">
          </div>
          <div class="bottom">
            <h2>John Doe - 5 stars</h2>
            <span>⭐⭐⭐⭐⭐</span>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus</p>
          </div>
        </div>

        <div class="review">
          <div class="top">
            <img src="https://t3.ftcdn.net/jpg/00/56/15/46/360_F_56154683_1wEwhUzZCR0Px7suc1u1e4t6Ac6Lje8a.jpg" alt="">
          </div>
          <div class="bottom">
            <h2>John Doe - 5 stars</h2>
            <span>⭐⭐⭐⭐⭐</span>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus</p>
          </div>
        </div>

        <div class="review">
          <div class="top">
            <img
              src="https://c.vanceai.com/assets/images/bgremover_vanceai/passport_photo_maker/feature_after_1-b8d713a1d2.png"
              alt="">
          </div>
          <div class="bottom">
            <h2>John Doe - 5 stars</h2>
            <span>⭐⭐⭐⭐⭐</span>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus</p>
          </div>
        </div>

      </div>
    </div>
    <div class="sub-footer">
      <div class="part-1">
        <h1>Popular Locations</h1>
        <ul>
          <li>Delhi</li>
          <li>Mumbai</li>
          <li>Banglore</li>
          <li>Hyderabad</li>
          <li>Chennai</li>
        </ul>
      </div>
      <div class="part-2">
        <h1>About</h1>
        <ul>
          <li>Product</li>
          <li>Store Locations</li>
          <li>Join Distributor</li>
          <li>Contact Page</li>
          <li>About us</li>
        </ul>
      </div>
      <div class="part-3">
        <h1>Link</h1>
        <ul>
          <li>Affliate Member</li>
          <li>FAQ</li>
          <li>Market Place</li>
          <li>Gallery </li>
          <li>Terms & Condition </li>
        </ul>
      </div>
      <div class="part-4">
        <h1>Let's Talk</h1>
        <ul>
          <li><i class="ri-map-pin-line"></i>&nbsp; Chowdhry Mohalla near Munazir Building Katihar Bihar 854105</li>
          <li><i class="ri-phone-line"></i>&nbsp; 361-455-4191</li>
          <li> <i class="ri-mail-line"></i>&nbsp; info@foodosnx.com</li>
          <li> <i class="ri-mail-line"></i>&nbsp; sales@foodosnx.com</li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="part-1">
        <h1>© 2024 FoodoSnx -Chips</h1>
      </div>
      <div class="part-2">
        <i class="ri-facebook-circle-fill"></i>
        <i class="ri-twitter-line"></i>
        <i class="ri-instagram-line"></i>
        <i class="ri-linkedin-fill"></i>
      </div>
    </footer>
  </div>
  <!-- Swiper js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      grabCursor: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
  <script src="/javascripts/navbar.js"></script>
</body>

</html>